doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Paute con nosotros - La Silla Vacía
    link(href='assets/styles/styles.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet")
  body
    .container
      header.row.header
        .col-xs-12
          h1.header__title
            span.header__title--firstLine #{title.firstLine}
            span.header__title--secondLine #{title.secondLine}

          .header__intro
            p La Silla ofrece el vehículo ideal para llegarle a un público contemporáneo, educado e influyente.

          a.btn.header__btn(href="#portafoliodepauta") PORTAFOLIO DE PAUTA
          a.btn.header__btn(href="#paquetesespeciales") PAQUETES ESPECIALES

      .row.title(id="portafoliodepauta")
        .col-xs-12
          span.title__dash
          h2.title__text PORTAFOLIO DE PAUTA
          p.title__description Un portafolio flexible para crear una campaña de alto impacto.

      each item in items
        section.paute_type
          .paute_type__title
            h3.paute_type__title__text #{item.title}
          .paute_type__container
            each type in item.types
              .paute_type__box
                h4.paute_type__box__title #{type.title}
                .paute_type__btn_container
                  .paute_type__btn__title #{type.description}
                  .btn.paute_type__btn #{type.price}
                  .paute_type__btn__subtitle #{type.subtitle}

          .paute_type__container
            .paute_type__box.paute_type__box--no_padding
              img(src=`${item.image}`)

      .row
        .col-xs-12
          .cta_row !{contactText}

      .row.title(id="paquetesespeciales")
        .col-xs-12
          span.title__dash
          h2.title__text PAQUETES ESPECIALES
          p.title__description Si quiere anunciar a descuento y aprovechar más internet, esta red es para usted: La Silla le ayuda a diseñar y gestionar su campaña.

      .row.especiales
        each special in especiales
          .especial.col-sm-4
            h3.especial__title #{special.title}
            .especial__container
              .especial__row
                .especial__numero
                  span.especial__numero--head DÍAS AL MES
                  span.especial__numero--num #{special.diasHome}
                .especial__text
                  span.especial__text--first PRESENCIA FIJA
                  span.especial__text--en_el_home EN EL HOME
              .especial__row
                .especial__numero
                  span.especial__numero--head DÍAS AL MES
                  span.especial__numero--num #{special.diasInternas}
                .especial__text
                  span.especial__text--first PRESENCIA FIJA
                  span.especial__text--paginas_internas PÁGINAS INTERNAS
              .especial__row
                .especial__numero
                  span.especial__numero--head DÍAS AL MES
                  span.especial__numero--num #{special.diasNewsletter}
                .especial__text
                  span.especial__text--first PRESENCIA FIJA
                  span.especial__text--en_el_newsletter EN EL NEWSLETTER
              .especial__row
                .especial__numero
                  span.especial__numero--head.especial__numero--bigger DESCUENTO
                  span.especial__numero--num #{special.descuento}
                .especial__text.especial__text--small
                  span EN BANNERS ADICIONALES DEL PORTAFOLIO DE PAUTA

            .especial__btn_container
              strong.especial__btn__title TOTAL MENSUAL (IVA INCLUIDO)
              .btn.especial__btn #{special.totalMensual}

            .especial__btn_container
              strong.especial__btn__title TOTAL ANUAL (IVA INCLUIDO)
              .btn.especial__btn #{special.totalAnual}

      .row
        .col-sm-12
          .cta_row !{contactText}